<section class="bg-light py-5" id='about'>
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                    <p class="lead fw-light mb-4">My name is Shivam Rakhunde and I am an IT Engineer.</p>
                    <p class="text-muted">Dedicated final-year Information Technology student with a strong technical foundation in backend development and full-stack web 
                        solutions. Proficient in building responsive, scalable applications using modern technologies like React, TypeScript, Chakra-UI, and 
                        Vite, optimizing performance and user experience. Experienced in developing innovative systems, including accessibility-focused 
                        solutions like a text-to-sign language converter. Adept at problem-solving and collaborating in dynamic teams, with a passion for 
                        data-driven approaches to drive impactful, user-centric results. </p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="mailto:shivamrakhunde03@gmail.com"><i class="bi bi-envelope"></i></a>
                        <a class="text-gradient" href="https://www.linkedin.com/in/shivrakhunde" target='_blank'><i class="bi bi-linkedin"></i></a>
                        <a class="text-gradient" href="https://github.com/shivamrakhunde" target='_blank'><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>